<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid white;
            font-size: 14px;
            font-weight: normal;
        }

        th, td {
            border: 1px solid white;
            padding: 1px 3px;
        }

        thead {
            background-color: #385e7f;
            color: white;
            font-size: 15px;
            padding: 1px 3px;
        }

        h3 {
            color: black;
        }

        .Bar, .Bars {
            position: relative;
            width: 100px;
            /* 宽度 */
            border: 1px solid #B1D632;
            padding: 1px;
        }

        .Bar div, .Bars div {
            display: block;
            position: relative;
            background: #5AF197; /* 进度条背景颜色 */
            color: #7FE99C;
            height: 20px; /* 高度 */
            line-height: 20px;
            /* 必须和高度一致，文本才能垂直居中 */
        }

        .Bars div {
            background: #090
        }

        .Bar div a, .Bars div a {
            position: absolute;
            width: 100px;
            left: 0;
            display: block;
            /* 宽度 */
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>

<body>

<h3>KV红黑榜日报表</h3>


<div class="row" style="margin-center:1px">
    #if($failDetails.size()>0)
        <label>失败率 > 0.100% </label>
        <table class="table table-bordered table-striped table-condensed  table-hover">
            <thead>
            <tr>
                <th>CacheName</th>
                <th>Project</th>
                <th>Rdduty</th>
                <th>Category&Operation</th>
                <th>Total</th>
                <th>Failure</th>
                <th>Failure(%)</th>
                <th>Min(ms)</th>
                <th>Max(ms)</th>
                <th>Avg(ms)</th>
            </tr>
            </thead>
            <tbody>
                #foreach( $info in $failDetails)
                <tr>
                    #if($info.rowspan>0)
                        <td style="border:1px solid black;text-align: left" rowspan="$info.rowspan">$info.cacheName</td>
                    #end
                    <td style="border:1px solid black;text-align: left">$info.projectName</td>
                    <td style="border:1px solid black;text-align: left">$info.rdDuty</td>
                    <td style="border:1px solid black;text-align: left">$info.project</td>
                    <td style="border:1px solid black;text-align: center">$info.totalCount</td>
                    <td style="border:1px solid black;text-align: center">$info.failCount</td>
                    <td style="border:1px solid black;text-align: center;color: red">$info.failPercent</td>
                    <td style="border:1px solid black;text-align: center">$info.minVal</td>
                    <td style="border:1px solid black;text-align: center">$info.maxVal</td>
                    <td style="border:1px solid black;text-align: center">$info.avgVal</td>
                </tr>
                #end
            </tbody>
        </table>
    #end
</div>

<div class="row" style="margin-center:1px">
    #if($delayDetails.size()>0)
        <label>平均时间 > 10ms </label>
        <table class="table table-bordered table-striped table-condensed  table-hover">
            <thead>
            <tr>
                <th>CacheName</th>
                <th>Project</th>
                <th>Rdduty</th>
                <th>Category&Operation</th>
                <th>Total</th>
                <th>Failure</th>
                <th>Failure(%)</th>
                <th>Min(ms)</th>
                <th>Max(ms)</th>
                <th>Avg(ms)</th>
            </tr>
            </thead>
            <tbody>
                #foreach( $info in $delayDetails)
                <tr>
                    #if($info.rowspan>0)
                        <td style="border:1px solid black;;text-align: left"
                            rowspan="$info.rowspan">$info.cacheName</td>
                    #end
                    <td style="border:1px solid black;text-align: left">$info.projectName</td>
                    <td style="border:1px solid black;text-align: left">$info.rdDuty</td>
                    <td style="border:1px solid black;text-align: left">$info.project</td>
                    <td style="border:1px solid black;text-align: center">$info.totalCount</td>
                    <td style="border:1px solid black;text-align: center">$info.failCount</td>
                    <td style="border:1px solid black;text-align: center">$info.failPercent</td>
                    <td style="border:1px solid black;text-align: center">$info.minVal</td>
                    <td style="border:1px solid black;text-align: center">$info.maxVal</td>
                    <td style="border:1px solid black;text-align: center;color: red ">$info.avgVal</td>
                </tr>
                #end
            </tbody>
        </table>
    #end
</div>
</div>

</body>


</html>