<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid white;
            font-size: 14px;
            font-weight: normal;
        }

        th, td {
            border: 1px solid white;
            padding: 1px 3px;
        }

        thead {
            background-color: #385e7f;
            color: white;
            font-size: 15px;
            padding: 1px 3px;
        }

        h3 {
            color: black;
        }

        .Bar, .Bars {
            position: relative;
            width: 100px;
            /* 宽度 */
            border: 1px solid #B1D632;
            padding: 1px;
        }

        .Bar div, .Bars div {
            display: block;
            position: relative;
            background: #5AF197; /* 进度条背景颜色 */
            color: #7FE99C;
            height: 20px; /* 高度 */
            line-height: 20px;
            /* 必须和高度一致，文本才能垂直居中 */
        }

        .Bars div {
            background: #090
        }

        .Bar div a, .Bars div a {
            position: absolute;
            width: 100px;
            left: 0;
            display: block;
            /* 宽度 */
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>

<body>

<h3>缓存异常统计报表</h3>


<div class="row col-lg-12 col-sm-12" style="margin-center:1px">
    <label>失败率 > 0.100% </label>
    <table style="table-layout:fixed;"
           class="table table-bordered table-striped table-condensed  table-hover">
        <thead>
        <tr>
            <th style="text-align: center; width:150px">CacheName</th>
            <th style="text-align: center; width:80px">Project</th>
            <th style="text-align: center; width:80px">FailPercent(%)</th>
            <th style="text-align: center; width:80px">AvgDelay(ms)</th>
        </tr>
        </thead>
        #foreach( $info in $delayDetails)
            <tbody>
            <tr>
                <td style="text-align: center;width:150px">$info.cacheName</td>
                <td style="text-align: center;width:80px">$info.project</td>
                <td style="text-align: center;width:80px ;color: red">$info.failPercent</td>
                <td style="text-align: center;width:80px">$info.avgValue</td>
            </tr>
            </tbody>
        #end
    </table>
</div>

<div class="row col-lg-12 col-sm-12" style="margin-center:1px">
    <label>平均时间 > 10ms </label>
    <table style="table-layout:fixed;"
           class="table table-bordered table-striped table-condensed  table-hover">
        <thead>
        <tr>
            <th style="text-align: center; width:150px">CacheName</th>
            <th style="text-align: center; width:80px">Project</th>
            <th style="text-align: center; width:80px">FailPercent(%)</th>
            <th style="text-align: center; width:80px">AvgDelay(ms)</th>
        </tr>
        </thead>

        #foreach( $info in $failDetails)
            <tbody>
            <tr>
                <td style="text-align: center;width:150px">$info.cacheName</td>
                <td style="text-align: center;width:80px">$info.project</td>
                <td style="text-align: center;width:80px">$info.failPercent</td>
                <td style="text-align: center;width:80px ;color: red" ;>$info.avgValue</td>
            </tr>
            </tbody>
        #end
    </table>
</div>
</div>

</body>


</html>