<div class="main-content" style="opacity: 1.0;"
     ng-controller="IndexController">
    <div class=" main-content-inner">
        <script type="text/javascript"
                src="${rc.contextPath}/static/js/squirrel/dash.js"></script>
        <!--<script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>-->
        <script type="text/javascript" src="${rc.contextPath}/static/js/highcharts/highcharts.js"></script>

        <link rel="stylesheet" type="text/css" href="${rc.contextPath}/static/css/sbibox.css"/>
        <div class="page-content gray-bg">
            <br class="page-header">

                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">当前</span>
                                <h5>集群总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{indexData.totalNum}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-danger pull-right">当前</span>
                                <h5>Memcached容量</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{indexData.memcachedCapacityString}}</h1>
                                <!--<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-danger pull-right">当前</span>
                                <h5>Redis容量</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{indexData.redisCapacityString}}</h1>
                                <!--<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">当前</span>
                                <h5>资源池</h5>
                            </div>
                            <div class="ibox-content">
                                <h4 class="no-margins">{{indexData.freeMachineCapacityString}}(free)/
                                    {{indexData.totalMachineCapacityString}}(total)</h4>
                                <!--<div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div id="containerQPS" style="width:500px;height:300px"></div>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1">
                        <div id="containerFailure" style="width: 500px;height: 300px"></div>
                    </div>
                </div>
            </br></br></br></br>
                <div class="row">
                    <div class="col-lg-5">
                        <div id="containerAvgDelay" style="width:500px;height:300px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>