<div class="main-content" id="ClusterDashBoardController"
     ng-controller="ClusterDashBoardController">
    <script type="text/javascript"
            src="${rc.contextPath}/static/js/avatar-cacheredisdashboard.js"></script>
    <div class="page-header"></div>
    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <div ng-repeat="item in redisdata">
                    <div class="col-xs-12 widget-container-col ui-sortable">
                        <div
                                class="widget-box widget-color-{{item.colors.alarm}} ui-sortable-handle collapsed">
                            <!-- #section:custom/widget-box.options.collapsed -->
                            <div class="widget-header widget-header-small">
                                <h6 class="widget-title">
                                    <div class="col-sm-2">{{item.clusterName}}</div>
                                    <div class="col-sm-2">Used:{{item.used}}%/{{item.maxMemory}}G</div>
                                    <div class="col-sm-2">Qps:{{item.qps}}</div>
                                    <div class="col-sm-1">M/S:{{item.masterNum}}/{{item.slaveNum}}</div>
                                    <div class="col-sm-1" ng-show="item.migrate">Migrate</div>
                                </h6>

                                <div class="widget-toolbar" >


                                    <a href="#" data-action="reload" ng-click="refresh(item.clusterName)"> <i
                                            class="ace-icon fa fa-refresh"></i>
                                    </a>
                                    <a href="#" data-action="collapse"> <i
                                            class="ace-icon fa fa-plus" data-icon-show="fa-plus"
                                            data-icon-hide="fa-minus"></i>
                                    </a>
                                </div>
                            </div>

                            <!-- /section:custom/widget-box.options.collapsed -->
                            <div class="widget-body" style="display: none;">
                                <div class="widget-main no-padding">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Master</th>
                                            <th>Slave</th>
                                            <th>Stats</th>
                                            <th  style="#if(${isadmin})display: table-cell;#else display: none;#end;">Operate</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="data in item.nodes track by $index">
                                            <td>{{$index+1}}</td>
                                            <td class="row col-sm-4">
                                                <div class="col-sm-10">{{data.master.address}}</div>
                                                <div class="col-sm-2">
                                                    <a href="${rc.contextPath}/redis/serverinfo"
                                                       ng-click="transport(data.master.address)">View</a>
                                                </div>
                                            </td>
                                            <td class="col-sm-2">
                                                <div class="row col-sm-12">
                                                    <div class="col-xs-6">{{data.slave.address}}</div>
                                                </div>
                                            </td>
                                            <td class="col-sm-4">slots:{{data.master.slotSize}}|Mem
                                                :{{data.master.info.used}}%/{{data.master.info.maxMem}}G | Qps:{{data.master.info.qps}}
                                                <span class="badge badge-yellow" ng-show="data.master.migrating"><i class="ace-icon fa fa-share"></i></span>
                                            </td>
                                            <td class="col-sm-2"
                                                style="#if(${isadmin})display: table-cell;#else display: none;#end;">
                                                <div class="hidden-sm hidden-xs btn-group">
                                                    <button  class="btn btn-xs btn-success" ng-show="{{data.slave.address==null}}"
                                                            ng-click="addSlave(item.clusterName,data.master.address)">Slave
                                                        <i class="ace-icon fa fa-plus bigger-120"></i>
                                                    </button>
                                                    <!--ng-click="deleteSlave(item.clusterName,data.slave.address)"-->
                                                    <a href="#confirm-modal" class="btn btn-xs btn-danger" data-toggle="modal"
                                                       ng-click="setParams(item.clusterName,data.slave.address)"
                                                            ng-show="{{data.slave.address!=null}}">Slave
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table ng-show="{{item.failedServers.length > 0}}" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Failed server in cluster</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="s in item.failedServers">
                                                <td> {{s.address}} : {{s.flags}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="confirm-modal" class="modal" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header red">
                    <h3>警告</h3>
                </div>

                <div class="modal-body step-content">
                    <div class="active">
                        <div class="center">
                            <h4>确认删除</h4>
                            <h4 class="blue">{{cluster}}:{{address}}</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer wizard-actions">
                    <button class="btn btn-danger btn-sm pull-left"
                            data-dismiss="modal">取消</button>
                    <button class="btn btn-success btn-sm pull-right"
                            ng-click="deleteSlave(cluster,address)" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
