<nav class="navbar navbar-default" id="navbar" style="font-family:FangSong_GB2312">
	<script type="text/javascript">
		try {
			ace.settings.check('navbar', 'fixed')
		} catch (e) {
		}
	</script>
	<div class="navbar-container" id="navbar-container">
		<div class="navbar-header pull-left">
			<a href="" class="navbar-brand"> 
			<small> <img src="${rc.contextPath}/static/images/squirrel.png" style="height: 21px;width: 21px"> 存储管理平台
			</small>
			</a>
		</div>

		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<li class="">
				<a  class="dropdown-toggle" style="margin: 0 auto;background-color:inherit;!important;"
					data-toggle="dropdown" href="#">
				<span class="user-info" style="margin-top:10px;font-family:FangSong_GB2312;"><i class="icon-user"></i> ${username}</span>
				<b class="caret"></b>
				</a>
					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<li><a ng-href="${logouturl}"> <i
								class="icon-off"></i> logout
						</a></li>
					</ul></li>
			</ul>
		</div>


		<!-- /.navbar-header -->
	</div>
	<!-- /.container -->
</nav>
