<div class="main-content" ng-controller="ClusterQpsController"
	id="ClusterQpsController">
	<script type="text/javascript"
		src="${rc.contextPath}/static/js/highcharts/highcharts.js"></script>
	<script type="text/javascript"
		src="${rc.contextPath}/static/js/highcharts/exporting.js"></script>
	<script type="text/javascript"
		src="${rc.contextPath}/static/js/avatar-cachemonitor.js"></script>
	<div class="page-header">
		<div class="rows">
			<div>
				<h1>
					<a href="${rc.contextPath}/monitor/dashboard">Cluster</a> <small>
						<i class="ace-icon fa fa-angle-double-right"></i> {{key}}
					</small>
				</h1>

			</div>
			<div>
					<div class="pull-right">
						{{endTime | date:'yyyy-MM-dd HH:mm:ss'}}
						&nbsp;[ 
						<!-- <a href="#" ng-click="setTime(-168)">-7d</a> ] &nbsp;[  -->
						<a href="#" ng-click="setTime(-24)">-1d</a> ] &nbsp;[ 
						<a href="#" ng-click="setTime(-2)">-2h</a> ] &nbsp;[ 
						<a href="#" ng-click="setTime(-1)">-1h</a> ] &nbsp;[ 
						<a href="#" ng-click="setTime(1)">+1h</a> ] &nbsp;[ 
						<a href="#" ng-click="setTime(2)">+2h</a> ] &nbsp;[ 
						<a href="#" ng-click="setTime(24)">+1d</a> ] &nbsp;[ 
						<a href="#" ng-click="setNow()">now</a> ] &nbsp;
					</div>

			</div>


		</div>
		<!-- 		<div class="alert alert-block alert-danger">
			<button type="button" class="close" data-dismiss="alert">
				<i class="ace-icon fa fa-times"></i>
			</button>

			Welcome to <strong class="green"> Ace <small>(v1.3.1)</small>
			</strong>, the lightweight, feature-rich and easy to use admin template.
		</div> -->
	</div>
	<div class="page-content" id="container"></div>

</div>