<div class="main-content" style="opacity: 1.0;"
     ng-controller="ConfigController">
    <div class="main-content-inner">
        <script type="text/javascript"
                src="${rc.contextPath}/static/js/avatar-cacheconfig.js"></script>
        <!-- page-content -->
        <div class="page-content">
            <!--row  -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="configTable" class="table table-hover progress-panel table-striped"
                           style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th style="width: 15%; text-align: left">服务名称</th>
                            <th style="width: 10%; text-align: center">客户端实现类</th>
                            <th style="width: 10%; text-align: center">泳道</th>
                            <th style="width: 30%; text-align: left">服务地址</th>
                            <th style="width: 20%; text-align: center">transcoder</th>
                            <th
                                    style="width: 15%; text-align: left;#if(${isadmin})display: table-cell;#else display: none;#end;">
                                操作
                                <a href="${rc.contextPath}/cache/config/new">
                                    <button type="button" class="btn btn-success btn-xs ">
                                        <i class="ace-icon fa fa-plus"></i>
                                    </button>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in searchPaginator.currentPageItems">
                            <td
                                    style="text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                {{info.cacheKey}}
                            </td>
                            <td
                                    style="text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                {{info.clientClazz | getClient}}
                            </td>
                            <td
                                    style="text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                {{info.swimlane}}
                            </td>
                            <td
                                    style="text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                {{info.servers}}
                            </td>
                            <td
                                    style="text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                {{info.transcoderClazz | getLastDotStr}}
                                <!-- <p
                                    ng-show="{{info.transcoderClazz== 'com.dianping.cache.memcached.HessianTranscoder'}} ">memcached.Hessian</p>
                                <p
                                    ng-show="{{info.transcoderClazz== 'com.dianping.cache.memcached.KvdbTranscoder'}}">memcached.Kvdb</p> -->
                            </td>


                            <td
                                    style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;#if(${isadmin})display: table-cell;#else display: none;#end;">
                                <a href="${rc.contextPath}/cache/config/edit" title="修改"
                                   id="modify" data-toggle="tooltip"
                                   ng-click="transportToEdit(info.cacheKey, info.clientClazz, info.swimlane,info.servers, info.transcoderClazz );"><i
                                        class="action-buttons ace-icon fa fa-pencil bigger-120 grey"
                                        style="float: left"></i></a> <a
                                    href="" ng-click="dialog(info.cacheKey,info.swimlane)" title="删除"><i
                                    class="ace-icon fa fa-trash-o bigger-120 red"></i></a> <a href="#configModal3"
                                                                                              title="清除缓存"
                                                                                              data-toggle="modal"
                                                                                              ng-click="setModalInput(info.cacheKey);"><i
                                    class="ace-icon fa fa-leaf bigger-120 green" style="float: right"></i></a>
                            </td>


                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <!-- 模态框（Modal） -->
        <div class="modal fade" id="configModal3" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 400px;">
                <div class="modal-content" style="border: none">
                    <div class="modal-header">
                        <h4 class="modal-title">清除<{{mCacheKey}}>缓存</h4>
                    </div>
                    <form method="post" class="form-horizontal" name="myForm3"
                          ng-submit="clearConfig()">
                        <div class="modal-body">
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label">缓存key</label>

                                <div class="col-sm-9">
                                    <input data-role="tagsinput" id="ipKey"
                                           placeholder='Enter'>
                                    <!-- <select class="col-sm-3" multiple data-role="tagsinput"  id="cleankey"/> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top: 10px">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-default btn-sm"
                                        data-dismiss="modal">关闭
                                </button>
                                <button type="submit" style="float: right"
                                        class="btn btn-sm btn-success">确认清除
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- end page-content -->


        <div id="modal3" class="modal" aria-hidden="true"
             style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header red">
                        <h3>警告</h3>
                    </div>

                    <div class="modal-body step-content">
                        <div class="active">
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label">缓存key</label>

                                <div class="col-sm-9">
                                    <input data-role="tagsinput" id="ipKey"
                                           placeholder='Enter'>
                                    <!-- <select class="col-sm-3" multiple data-role="tagsinput"  id="cleankey"/> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer wizard-actions">
                        <button class="btn btn-danger btn-sm pull-left"
                                data-dismiss="modal">取消
                        </button>
                        <button class="btn btn-success btn-sm pull-right" ng-click="deleteServer()"
                                data-dismiss="modal">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script type="application/javascript">
    $(document).ready(function () {
        setTimeout(function() {
            $('#configTable').dataTable({
                "bAutoWidth": true,
                "bPaginate": true, //翻页功能
                "bLengthChange": true, //改变每页显示数据数量
                "bFilter": true, //过滤功能
                "bSort": true, //排序功能
                "bInfo": true,//页脚信息
                "bStateSave": false,
                "aaSorting": [],
                "iDisplayLength": 10,
                "aoColumns": [
                    null, null,null, null, null,
                    { "bSortable": false }
                ],
            });
        }, 300);
    });
</script>



