<div class="main-content" style="opacity: 1.0;"
	ng-controller="ConfigNewController">
	<div class=" main-content-inner">
		<div id="breadcrumbs">
			<script type="text/javascript"
				src="${rc.contextPath}/static/js/avatar-confignew.js"></script>
			<script type="text/javascript">
				try {
					ace.settings.check('breadcrumbs', 'fixed')
				} catch (e) {
				}
			</script>
			<!-- end  breadcrumbs-->
		</div>


		<div class="page-content">
			<div class="page-content-area">

				<div class="page-header">
					<h1>新建集群配置</h1>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<form class="form-horizontal" role="form" name="configform">
							<!-- #section:elements.form -->
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right"> 集群名 </label>

								<div class="col-sm-9">
									<input type="text" id="mCacheKey" class="col-xs-10 col-sm-5"
										ng-model="mCacheKey" required>
								</div>
							</div>

							<!-- /section:elements.form -->
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right">泳道</label>

								<div class="col-sm-9">
									<input type="text" id="mSwimLane" class="col-xs-10 col-sm-5"
										   ng-model="mSwimLane">
								</div>
							</div>

							<!-- /section:elements.form -->
							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right"> 集群实现类 </label>

								<div class="col-sm-9">
									<select class="col-xs-10 col-sm-5" ng-model="mClientClazz"
										ng-options="p for p in implItems" id="mClientClazz" required>

									</select>
								</div>
							</div>

							<div class="space-4"></div>

							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right">Transcoder</label>

								<div class="col-sm-9">
									<select class=" col-xs-10 col-sm-5" ng-model="mTranscoderClazz"
										ng-options="p for p in coderItems" id="mTranscoderClazz"
										required>

									</select>
								</div>
							</div>






							<div class="space-4"></div>
							<!-- 							<h4 class="header green">集群服务器</h4>
 -->

							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="tabbable">
									<!-- #section:pages/faq -->
									<ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
										<li class="active"><a data-toggle="tab" href="#faq-tab-1">
												Memcached </a></li>
										<li class=""><a data-toggle="tab" href="#faq-tab-2">
												Other </a></li>
										<!-- <li class=""><a data-toggle="tab" href="#faq-tab-3">
												Redis </a></li> -->

									</ul>

									<!-- /section:pages/faq -->
									<div class="tab-content no-border padding-24">
										<div id="faq-tab-1" class="tab-pane fade active in">
											<div class="space-8"></div>
											<form class="form-horizontal" role="form">

												<!-- 											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right"
													for="form-field-2">自动扩容</label>

												<div class="col-sm-2">
													<select class=" col-xs-12 col-sm-12">
														<option value="config1">内存 8 G</option>
													</select>

												</div>
												<div class="col-sm-2">
													<button type="button"
														class="btn btn-white  btn-sm pull-right"
														ng-disabled="true" ng-click="btndisable1=true"
														>确认添加</button>
												</div>

											</div> -->



												<div class="space-4"></div>


												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right">手动扩容</label>

													<div class="col-sm-3">
														<input type="text" placeholder="ip" id="ip" name="ip"
															class="col-sm-7" ng-model="ip"
															ng-pattern="/((2[0-4]\d|25[0-5]|[01]?\d\d?)\.){3}(2[0-4]\d|25[0-5]|[01]?\d\d?)/"
															required> <input type="text" class="col-sm-4"
															ng-model="port">
													</div>
													<div>
														<button type="button"
															class=" btn btn-white btn-yellow btn-sm pull-left"
															style="margin-left: 0px" ng-disabled="btndisable2"
															ng-click="manualAddNode()">确认添加</button>
													</div>

												</div>

											</form>


											<table class="table">
												<thead>
													<tr>
														<th>#</th>
														<th>IP</th>
														<th>STATE</th>
														<th>Operation</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="info in servers track by $index">
														<td>{{$index+1}}</td>
														<td>{{info}}</td>
														<td>候选</td>
														<td><a href="" title="删除"
															ng-click="deleteServer(info)" data-toggle="tooltip"
															data-placement="left"><i
																class="icon-trash bigger-130 red"></i></a></td>
													</tr>
												</tbody>
											</table>

										</div>

										<div id="faq-tab-2" class="tab-pane fade">
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right"> servers </label>

												<div class="col-sm-9">
													<textarea type="text" class="col-xs-10 col-sm-5" rows="8"
														ng-model="mServers">
										</textarea>
												</div>
											</div>
										</div>
										<!-- <div id="faq-tab-3" class="tab-pane fade">
											<div class="form-group">
												<div class="col-xs-6 col-sm-6">
													<div>
														<div class="col-sm-6">master</div>
														<div class="col-sm-6">slave</div>

													</div>
													<div class="rows"
														ng-repeat="item in redisServer track by $index">
														<select class="col-sm-6"
															ng-model="$parent.redisServer[$index][0]"
															ng-options="p for p in serverTable" id="mClientClazz"
															required>
														</select> <select class="col-sm-6"
															ng-model="$parent.redisServer[$index][1]"
															ng-options="p for p in serverTable" id="mClientClazz"
															required>
														</select>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6">
													<div>
														<div class=" form-group">
															<label class="col-sm-3 control-label no-padding-right"
																for="form-field-2">手动添加</label>

															<div class="col-sm-6">
																<input type="text" placeholder="ip" id="ip" name="ip"
																	class="col-sm-7" ng-model="redisServerIp"
																	ng-pattern="/((2[0-4]\d|25[0-5]|[01]?\d\d?)\.){3}(2[0-4]\d|25[0-5]|[01]?\d\d?)/"
																	required> <input type="text" class="col-sm-4"
																	ng-model="redisServerPort">
															</div>
															<div>
																<button type="button"
																	class=" btn btn-white btn-yellow btn-sm pull-left"
																	style="margin-left: 0px" ng-disabled=""
																	ng-click="addRedisServer()">确认添加</button>
															</div>
														</div>
													</div>
													<div>

														<div class="form-group">
															<label class="col-sm-4 control-label no-padding-right"
																for="form-field-2">自动申请机器    数目：</label>

															<div class="col-sm-2">
																<select class="">
																	<option value="config1">1</option>
																	<option value="config1">2</option>
																	<option value="config1">3</option>
																	<option value="config1">4</option>
																	<option value="config1">5</option>
																	<option value="config1">6</option>
																	<option value="config1">7</option>
																	<option value="config1">8</option>
																</select>

															</div>
															<div class="col-sm-2">
																<button type="button"
																	class="btn btn-white  btn-sm pull-right"
																	ng-disabled="true" ng-click="btndisable1=true">确认添加</button>
															</div>
														</div>
													</div>
													
													<div>
													<table class="table">
														<thead>
															<tr>
																<th>#</th>
																<th>实例 ip</th>
																<th>宿主机 ip</th>
																<th>操作</th>
															</tr>
														</thead>
												<tbody>
													<tr ng-repeat="info in serverTable track by $index">
														<td>{{$index+1}}</td>
														<td>{{info}}</td>
														<td>null</td>
														<td><a href="" title="删除"
															ng-click="" data-toggle="tooltip"
															data-placement="left"><i
																class="icon-trash bigger-130 red"></i></a></td>
													</tr>
												</tbody>
													</table>	
													
													</div>

												</div>
											</div>
										</div> -->

									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div>


							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-info btn-sm" type="submit"
									ng-click="creatNew()">
									<i class="icon-check bigger-110"></i> Submit
								</button>
								&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
								&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
								&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;

								<button class="btn btn-sm" type="reset" ng-click="reset()">
									<i class="icon-undo bigger-110"></i> Reset
								</button>
							</div>



							<!-- -------------------------modal area ------------------------------------------------>
							<div id="modal-wizard1" class="modal" aria-hidden="true"
								style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" data-target="#modal-step-contents">
											<ul class="wizard-steps">
												<li data-target="#modal-step1" ng-class="{'active':isStep1}">
													<span class="step">1</span> <span class="title">Validation
														states</span>
												</li>

												<li data-target="#modal-step2" ng-class="{'active':isStep2}">
													<span class="step">2</span> <span class="title">Alerts</span>
												</li>

												<li data-target="#modal-step3" ng-class="{'active':isStep3}">
													<span class="step">3</span> <span class="title">Payment
														Info</span>
												</li>

												<li data-target="#modal-step4" ng-class="{'active':isStep4}">
													<span class="step">4</span> <span class="title">Other
														Info</span>
												</li>
											</ul>
										</div>

										<div class="modal-body step-content" id="modal-step-contents">
											<div class="step-pane active" id="modal-step1">
												<div class="center">
													<h4>自动扩容</h4>
													<h4 class="blue">{{message1}}</h4>
												</div>
											</div>

										</div>

										<div class="modal-footer wizard-actions">
											<button class="btn btn-danger btn-sm pull-left"
												data-dismiss="modal">Cancel</button>
										</div>
									</div>
								</div>
							</div>
							<!--end of modal-wizard -->



							<div id="modal-wizard2" class="modal" aria-hidden="true"
								style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" data-target="#modal-step-contents">
											<ul class="wizard-steps">
												<li data-target="#modal-step1"
													ng-class="{'active':isStep21}"><span class="step">1</span>
													<span class="title">验证服务开启 </span></li>

												<li data-target="#modal-step2"
													ng-class="{'active':isStep22}"><span class="step">2</span>
													<span class="title">端口验证通过</span></li>

												<li data-target="#modal-step3"
													ng-class="{'active':isStep23}"><span class="step">3</span>
													<span class="title">添加至服务器队列 </span></li>

											</ul>
										</div>

										<div class="modal-body step-content" id="modal-step-contents">
											<div class="step-pane active" id="modal-step1">
												<div class="center">
													<h4>验证端口</h4>
													<h4 class="blue">{{message2}}</h4>
													<h4>
														<i ng-show="process"
															class="icon-spinner icon-spin orange bigger-300"></i> <i
															ng-show="success" class="icon-check green bigger-300"></i>
														<i ng-show="fail" class="icon-remove red bigger-300"></i>

													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div id="modal-wizard3" class="modal" aria-hidden="true"
								style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" data-target="#modal-step-contents">
											<h4>新建配置</h4>
										</div>

										<div class="modal-body step-content" id="modal-step-contents">
											<div class="step-pane active" id="modal-step1">
												<div class="center">
													<h4 class="blue">{{message3}}</h4>
													<h4>
														<i ng-show="process"
															class="icon-spinner icon-spin orange bigger-300"></i> <i
															ng-show="success" class="icon-check green bigger-300"></i>
														<i ng-show="fail" class="icon-remove red bigger-300"></i>
													</h4>
												</div>
											</div>
										</div>

										<div class="modal-footer wizard-actions">
											<a href="${rc.contextPath}/cache/config">
												<button class="btn btn-success btn-sm btn-next">返回主页
												</button>
											</a>

											<button class="btn grey btn-sm pull-left"
												data-dismiss="modal">留在这里</button>
										</div>

									</div>
								</div>
							</div>


							<!--end of modal-wizard -->
						</form>
					</div>
				</div>

			</div>
			<!-- page-content-area -->

		</div>
		<!-- page-content -->
	</div>
</div>