<div class="main-content" style="opacity: 1.0;"
	ng-controller="ScaleController">
	<div class=" main-content-inner">
		<script type="text/javascript"
			src="${rc.contextPath}/static/js/avatar-scale.js"></script>

		<div class="page-content">
			<div class="row">
				<!-- docker info -->
				<div>
					<div class="easy-pie-chart percentage" data-percent="20" data-color="red">
						<span class="percent">20</span>%
					</div>

					<div class="easy-pie-chart percentage" data-percent="55" data-color="green">
						<span class="percent">55</span>%
					</div>

					<hr />
					<div class="easy-pie-chart percentage" data-percent="90" data-color="yellow">
						<span class="percent">90</span>%
					</div>
				</div>
				<!-- scale -->
				<div class="row">
					<!-- apply -->
					<div class="col-xs-12">
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="col-sm-12"
								placeholder="申请实例数量" ng-model="number"> <span
								class="input-group-btn">
								<button type="button" class="btn btn-purple btn-sm" ng-click="applyNodes()">
									Apply <i
										class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
								</button>
							</span>
						</div>
					</div>
					
					</div>
					<!-- cluster nodes  -->
					<div>
						<!-- <div>
							集群主节点
						</div>
						<div>
						<table>
							<thead>
							<tr>
								<td>#ID</td>
								<td>Master</td>
								<td>HostIp</td>
							</tr>
							</thead>
							<tbody  ng-repeat="node in nodes ">
								<tr>
									<td>{{$index+1}}</td>
									<td>{{node.ip}}</td>
									<td>{{node.hostIp}}</td>
								</tr>
							</tbody>
						</table>
						</div> -->
						<div>
							已申请机器
						</div>
						<div>
							<div >
								<table>
									<thead>
										<tr>
											<td>#ID</td>
											<td>Ip</td>
											<td>HostIp</td>
											<td>Operate</td>
										</tr>
									</thead>
									<tbody ng-repeat="item in items">
										<tr>
											<td>{{$index+1}}</td>
											<td>{{item.ip}}</td>
											<td>{{item.agentip}}</td>
											<td ng-click="destroy(item.ip)">Delete</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- submit -->
					<div>
						
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
	jQuery(function($) {


		var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
		$('.easy-pie-chart.percentage').each(function(){
			$(this).easyPieChart({
				barColor: $(this).data('color'),
				trackColor: '#EEEEEE',
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: 8,
				animate: oldie ? false : 1000,
				size:75
			}).css('color', $(this).data('color'));
		});

		$('[data-rel=tooltip]').tooltip();
		$('[data-rel=popover]').popover({html:true});





	});
</script>