<div class="main-content" style="opacity: 1.0;"
	ng-controller="ScaleController">
	<div class=" main-content-inner">
		<script type="text/javascript"
			src="${rc.contextPath}/static/js/avatar-scale.js"></script>

		<div class="page-content">
			<div class="row">
				<!-- docker info -->
				<div>
					
				</div>
				<!-- scale -->
				<div class="row">
					<!-- apply -->
					<div class="col-xs-12">
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="col-sm-12"
								placeholder="申请实例数量" ng-model="number"> <span
								class="input-group-btn">
								<button type="button" class="btn btn-purple btn-sm" ng-click="applyNodes()">
									Apply <i
										class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
								</button>
							</span>
						</div>
					</div>
					
					</div>
					<!-- cluster nodes  -->
					<div>
						<!-- <div>
							集群主节点
						</div>
						<div>
						<table>
							<thead>
							<tr>
								<td>#ID</td>
								<td>Master</td>
								<td>HostIp</td>
							</tr>
							</thead>
							<tbody  ng-repeat="node in nodes ">
								<tr>
									<td>{{$index+1}}</td>
									<td>{{node.ip}}</td>
									<td>{{node.hostIp}}</td>
								</tr>
							</tbody>
						</table>
						</div> -->
						<div>
							已申请机器
						</div>
						<div>
							<div >
								<table>
									<thead>
										<tr>
											<td>#ID</td>
											<td>Ip</td>
											<td>HostIp</td>
											<td>Operate</td>
										</tr>
									</thead>
									<tbody ng-repeat="item in items">
										<tr>
											<td>{{$index+1}}</td>
											<td>{{item.ip}}</td>
											<td>{{item.agentip}}</td>
											<td ng-click="destroy(item.ip)">Delete</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- submit -->
					<div>
						
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
