<div class="sidebar " id="sidebar"
	data-sidebar="true" data-sidebar-scroll="true"
	data-sidebar-hover="true" style="float:left">
	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'fixed')
		} catch (e) {
		}
	</script>
		<ul class="nav nav-list">
		<li class="#if($side == 'cachemanager') open #end"><a href="#"
			class="dropdown-toggle"> <i class="menu-icon  fa fa-gavel bigger-130"></i> <span
				class="menu-text">存储管理</span> <b class="arrow fa fa-angle-down"></b>
		</a>
			<ul class="submenu" style="display: block;">
				<li class="#if($subside == 'config') active #end"><a
					href="${rc.contextPath}/cache/config"> <i
						class="icon-globe"></i> 存储集群配置
				</a></li>
				<li class="#if($subside == 'key') active #end"><a
					href="${rc.contextPath}/cache/key"> <i
						class="icon-globe"></i> 存储类别配置
				</a></li>
				<li class="#if($subside == 'operator') active #end"><a
					href="${rc.contextPath}/cache/operator"> <i
						class="icon-globe"></i> 操作日志
				</a></li>
				<li class="#if($subside == 'query') active #end"><a
					href="${rc.contextPath}/cache/query"> <i
						class="icon-globe"></i> 数据查询
				</a></li>
			</ul></li>
		<li class="#if($side == 'monitor') open #end"><a href="#"
			class="dropdown-toggle"> <i class="menu-icon  fa fa-tachometer bigger-130"></i> <span
				class="menu-text">存储监控</span> <b class="arrow fa fa-angle-down"></b>
		</a>
			<ul class="submenu" style="display: block;">
				
				<li class="#if($subside == 'mdashboard') active #end"><a
					href="${rc.contextPath}/monitor/dashboard"> <i
						class="icon-globe"></i> Memcached 集群监控
				</a></li>
				<li class="#if($subside == 'rdashboard') active #end"><a
					href="${rc.contextPath}/redis/dashboard"> <i
						class="icon-globe"></i> Redis 集群监控
				</a></li>
				<li class="#if($subside == 'paascat') active #end"><a
					href="http://cat.dp/cat/r/system?type=paasSystem" target="_blank"> <i
						class="icon-globe"></i> PAAS监控
				</a></li>
				<li class="#if($subside == 'paasweb') active #end"><a
					href="http://10.1.139.138" target="_blank"> <i
						class="icon-globe"></i> PAAS管理
				</a></li>
				<!-- <li class="#if($subside == 'node') active #end"><a
					href="${rc.contextPath}/monitor/node"> <i
						class="icon-globe"></i> 节点监控
				</a></li> -->
				
			</ul></li>
			<li class="#if($side == 'monitor') open #end">
				<a href="#" class="dropdown-toggle"> <i class="menu-icon  fa fa-tachometer bigger-130"></i> <span
					class="menu-text">告警</span> <b class="arrow fa fa-angle-down"></b>
			</a>
				<ul class="submenu" style="display: block;">

					<li class="#if($subside == 'mdashboard') active #end"><a
							href="${rc.contextPath}/setting/alarmrecord"> <i
							class="icon-globe"></i> 告警记录
					</a></li>
					<li class="#if($subside == 'rdashboard') active #end"><a
							href="${rc.contextPath}/setting/alarmrule"> <i
							class="icon-globe"></i> 告警规则配置
					</a></li>
				</ul></li>
	</ul>

	<div class="sidebar-collapse sidebar-toggle" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
			data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>

	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'collapsed')
		} catch (e) {
		}
	</script>
</div>

