<div class="main-content" id="AlarmRuleController" ng-controller="AlarmRuleController">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript"
                    src="${rc.contextPath}/static/js/alarm/alarmrule.js"></script>
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                <li class="active">告警管理</li>
                <li><a href="${rc.contextPath}/setting/memcachetemplate"> <i
                        class="icon-globe"></i>Memcache告警模板管理
                </a></li>
                <li><a href="${rc.contextPath}/setting/redistemplate"> <i
                        class="icon-globe"></i>Redis告警模板管理
                </a></li>
                <li>
                    <button ng-click="baselineCompute()">BaselineCompute</button>
                </li>
            </ul>
            </ul>

        </div>


        <div class="page-content" id="container">
            <div class="row">
                <div class="col-xs-12">
                    <table id="configTable" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <!--<td><input type="checkbox" id="check-all"></td>-->
                            <!--<th>告警集群类型</th>-->
                            <th>告警集群类型及名称</th>
                            <th>模板名称</th>
                            <th>收件人</th>
                            <th>是否发送业务线</th>
                            <th>操作
                                <a class="breadcrumbs-btn" href="#myModal" ng-click="clearModal()" data-toggle="modal">
                                    <i class="ace-icon fa fa-plus green"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="e in searchPaginator.currentPageItems">
                            <!--<td style="text-align: center"><input type="checkbox" name="check-list" value="{{e.id}}"></td>-->
                            <td style="text-align: center">{{e.clusterType}}:{{e.clusterName}}</td>
                            <td style="text-align: center">{{e.alarmTemplate}}</td>
                            <td style="text-align: center">{{e.receiver}}</td>
                            <td style="text-align: center">
                                <span class="sticker">
                                    <span class="label arrowed-in"
                                          ng-class="{'label-success':e.toBusiness==true,'label-danger':e.toBusiness==false}">
                                        <i class="bigger-110"
                                           ng-class="{'ace-icon fa fa-check':e.toBusiness==true,'ace-icon fa fa-times':e.toBusiness==false}">业务线</i>
                                    </span>

                                </span>
                            </td>


                            <td style="text-align: center">
                                <a href="#myModal" ng-click="setModalInput($index);" data-toggle="modal"
                                   class="edit-config-btn">编辑
                                    <i class="ace-icon fa fa-edit" rel="tooltip" data-original-title="编辑配置值"></i>
                                </a>
                                <a href="" ng-click="dialog(e.id);" class="edit-config-btn">删除
                                    <i class="ace-icon fa fa-times" rel="tooltip" data-original-title="删除配置项"></i>
                                </a>
                            </td>
                        </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--模态框(Modal)告警配置修改-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">编辑告警配置信息</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              class="form-horizontal bs-example bs-example-form" role="form"
                              name="myForm" ng-submit="refreshpage(myForm)">
                            <div class="input-group" ng-switch="alarmConfigEntity.clusterType">
                                <div class="col-xs-12 form-group">
                                    <label class="col-xs-3 control-label control-label no-padding-right">告警集群类型：</label>

                                    <div class="col-xs-9">
                                        <select class="col-xs-12" ng-model="alarmConfigEntity.clusterType"
                                                name="type" ng-options="o as o for o in clusterTypes" required>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group" ng-switch-when="Memcache">
                                    <label class="col-xs-3 control-label control-label no-padding-right">Memcache集群：</label>

                                    <div class="col-xs-9">
                                        <select class="col-xs-12" ng-model="alarmConfigEntity.clusterName"
                                                name="type" ng-options="o as o for o in memcacheClusters" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group" ng-switch-when="Redis">
                                    <label class="col-xs-3 control-label control-label no-padding-right">Redis集群：</label>

                                    <div class="col-xs-9">
                                        <select class="col-xs-12" ng-model="alarmConfigEntity.clusterName"
                                                name="type" ng-options="o as o for o in redisClusters" required>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group" ng-switch-when="Memcache">
                                    <label class="col-xs-3 control-label control-label no-padding-right">告警模板：</label>

                                    <div class="col-xs-9">
                                        <select class="col-xs-12" ng-model="alarmConfigEntity.alarmTemplate"
                                                name="type" ng-options="o as o for o in memcacheAlarmTemplates"
                                                required>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group" ng-switch-when="Redis">
                                    <label class="col-xs-3 control-label control-label no-padding-right">告警模板：</label>

                                    <div class="col-xs-9">
                                        <select class="col-xs-12" ng-model="alarmConfigEntity.alarmTemplate"
                                                name="type" ng-options="o as o for o in redisAlarmTemplates" required>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-xs-12 form-group">
                                    <label class="col-xs-3 control-label control-label no-padding-right">收件人：</label>

                                    <div class="col-xs-9">
									<textarea class="form-control" rows="2" type="text"
                                              ng-model="alarmConfigEntity.receiver" name="receiver" required>
                                    </textarea>
                                        是否发送业务线:<input type="checkbox" ng-model="alarmConfigEntity.toBusiness"
                                                       name="toBusiness">
                                    </div>
                                </div>
                                <div class="control-group" style="margin-top: 20px;text-align: center;">
                                    <div class="controls">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">关闭
                                        </button>
                                        <button type="submit" class="btn btn-success">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/.modal-content-->
        </div>
        <!--/.modal-->
        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
               <span class="bigger-120">
                   <span class="blue bolder">Squirrel</span>
                   架构组 &copy; 2015-2016
               </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>
    </div>

</div>


<!-- inline scripts related to this page -->
<script type="application/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $('#configTable').dataTable({
                "bAutoWidth": true,
                "bPaginate": true, //翻页功能
                "bLengthChange": true, //改变每页显示数据数量
                "bFilter": true, //过滤功能
                "bSort": true, //排序功能
                "bInfo": true,//页脚信息
                "bStateSave": false,
                "aaSorting": [],
                "sScrollY": "400px",
                "iDisplayLength": 50,
                "aoColumns": [
                    null, null, null, null,
                    {"bSortable": false}
                ]
            });
        }, 200);
    });
</script>