<div class="main-content" id="RedisTemplateController" ng-controller="RedisTemplateController">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript"
                    src="${rc.contextPath}/static/js/alarm/redistemplate.js"></script>
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                <li class="active">Redis告警模板管理</li>
            </ul>
        </div>


        <div class="page-content" id="container">
            <div class="row">
                <div class="col-xs-12">
                    <table id="configTable" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <!--<td><input type="checkbox" id="check-all"></td>-->
                            <!--<th>告警集群类型</th>-->
                            <th>告警模板名称</th>
                            <th>宕机</th>
                            <th>内存上阈值</th>
                            <th>告警方式</th>
                            <th>操作
                                <a class="breadcrumbs-btn" href="#myModal" ng-click="clearModal()" data-toggle="modal">
                                    <i class="ace-icon fa fa-plus green"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="e in searchPaginator.currentPageItems">
                            <!--<td style="text-align: center"><input type="checkbox" name="check-list" value="{{e.id}}"></td>-->
                            <td style="text-align: center width:100px">{{e.templateName}}</td>
                            <td style="text-align: center width:100px">{{e.down}}</td>
                            <td style="text-align: center width:100px">{{e.memThreshold}}</td>
                            <td style="text-align: center width:100px">
                                <span class="sticker">
                                    <span class="label arrowed-in" ng-class="{'label-success':e.mailMode==true,'label-danger':e.mailMode==false}">
                                        <i class="bigger-110" ng-class="{'ace-icon fa fa-check':e.mailMode==true,'ace-icon fa fa-times':e.mailMode==false}">邮件</i>
                                    </span>
                                    <span class="label arrowed-in" ng-class="{'label-success':e.smsMode==true,'label-danger':e.smsMode==false}">
                                        <i class="bigger-110" ng-class="{'ace-icon fa fa-check':e.smsMode==true,'ace-icon fa fa-times':e.smsMode==false}">短信</i>
                                    </span>
                                    <span class="label arrowed-in" ng-class="{'label-success':e.weixinMode==true,'label-danger':e.weixinMode==false}">
                                        <i class="bigger-110" ng-class="{'ace-icon fa fa-check':e.weixinMode==true,'ace-icon fa fa-times':e.weixinMode==false}">微信</i>
                                    </span>

                                </span>
                            </td>
                            <td style="text-align: center">
                                <a href="#myModal" ng-click="setModalInput($index);" data-toggle="modal"
                                   class="edit-config-btn">编辑
                                    <i class="ace-icon fa fa-edit" rel="tooltip" data-original-title="编辑配置值"></i>
                                </a>
                                <a href="" ng-click="dialog(e.id);" class="edit-config-btn">删除
                                    <i class="ace-icon fa fa-times" rel="tooltip" data-original-title="删除配置项"></i>
                                </a>
                            </td>
                        </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--模态框(Modal)告警配置修改-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">编辑告警模板配置信息</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              class="form-horizontal bs-example bs-example-form" role="form"
                              name="myForm" ng-submit="refreshpage(myForm)">
                            <div class="input-group">


                                <div class="col-xs-12 form-group">
                                    <label class="col-xs-3 control-label control-label no-padding-right">模板名称：</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control"
                                               ng-model="alarmConfigEntity.templateName" name="templateName">
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group">
                                    <label class="col-xs-3 control-label control-label no-padding-right">配置：</label>
                                    <div class="col-xs-9" style="font-size: 15px">
                                        宕机：
                                        <input type="checkbox"  ng-model="alarmConfigEntity.isDown" name="isDown">
                                        &nbsp&nbsp邮件：
                                        <input type="checkbox"  ng-model="alarmConfigEntity.mailMode" name="mailMode">
                                        &nbsp&nbsp短信：
                                        <input type="checkbox"  ng-model="alarmConfigEntity.smsMode" name="smsMode">
                                        &nbsp&nbsp微信：
                                        <input type="checkbox"  ng-model="alarmConfigEntity.weixinMode" name="weixinMode">
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group">
                                    <label class="col-xs-3 control-label control-label no-padding-right">内存上阈值：</label>

                                    <div class="col-xs-9">
                                        <input type="text" class="form-control"
                                               ng-model="alarmConfigEntity.memThreshold" name="memThreshold">
                                    </div>
                                </div>

                                <div class="control-group" style="margin-top: 20px;text-align: center;">
                                    <div class="controls">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">关闭
                                        </button>
                                        <button type="submit" class="btn btn-success">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/.modal-content-->
        </div>
        <!--/.modal-->
        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
               <span class="bigger-120">
                   <span class="blue bolder">Cache</span>
                   架构缓存组 &copy; 2015-2016
               </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>
    </div>

</div>


<!-- inline scripts related to this page -->
<!--<script type="application/javascript">-->
    <!--$(document).ready(function () {-->
        <!--setTimeout(function () {-->
            <!--$('#configTable').dataTable({-->
                <!--"bAutoWidth": true,-->
                <!--"bPaginate": true, //翻页功能-->
                <!--"bLengthChange": true, //改变每页显示数据数量-->
                <!--"bFilter": true, //过滤功能-->
                <!--"bSort": true, //排序功能-->
                <!--"bInfo": true,//页脚信息-->
                <!--"bStateSave": false,-->
                <!--"aaSorting": [],-->
                <!--"sScrollY": "400px",-->
                <!--"iDisplayLength": 50,-->
                <!--"aoColumns": [-->
                    <!--null, null, null, null, null,-->
                    <!--{"bSortable": false}-->
                <!--]-->
            <!--});-->
        <!--}, 200);-->
    <!--});-->
<!--</script>-->