<div class="main-content" id="ClusterQpsController">
	<div class="page-header"></div>
	<div class="page-content">


		<div class="col-sm-7 infobox-container">
			<!-- #section:pages/dashboard.infobox -->
			<div class="infobox infobox-green">
				<div class="infobox-icon">
					<i class="ace-icon fa fa-comments"></i>
				</div>

				<div class="infobox-data">
					<span class="infobox-data-number">32</span>
					<div class="infobox-content">comments + 2 reviews</div>
				</div>

				<!-- #section:pages/dashboard.infobox.stat -->
				<div class="stat stat-success">8%</div>

				<!-- /section:pages/dashboard.infobox.stat -->
			</div>

			<div class="infobox infobox-blue">
				<div class="infobox-icon">
					<i class="ace-icon fa fa-twitter"></i>
				</div>

				<div class="infobox-data">
					<span class="infobox-data-number">11</span>
					<div class="infobox-content">new followers</div>
				</div>

				<div class="badge badge-success">
					+32% <i class="ace-icon fa fa-arrow-up"></i>
				</div>
			</div>

			<div class="infobox infobox-pink">
				<div class="infobox-icon">
					<i class="ace-icon fa fa-shopping-cart"></i>
				</div>

				<div class="infobox-data">
					<span class="infobox-data-number">8</span>
					<div class="infobox-content">new orders</div>
				</div>
				<div class="stat stat-important">4%</div>
			</div>

			<div class="infobox infobox-red">
				<div class="infobox-icon">
					<i class="ace-icon fa fa-flask"></i>
				</div>

				<div class="infobox-data">
					<span class="infobox-data-number">7</span>
					<div class="infobox-content">experiments</div>
				</div>
			</div>

			<div class="infobox infobox-orange2">
				<!-- #section:pages/dashboard.infobox.sparkline -->
				<div class="infobox-chart">
					<span class="sparkline"
						data-values="196,128,202,177,154,94,100,170,224"><canvas
							width="44" height="33"
							style="display: inline-block; width: 44px; height: 33px; vertical-align: top;"></canvas></span>
				</div>

				<!-- /section:pages/dashboard.infobox.sparkline -->
				<div class="infobox-data">
					<span class="infobox-data-number">6,251</span>
					<div class="infobox-content">pageviews</div>
				</div>

				<div class="badge badge-success">
					7.2% <i class="ace-icon fa fa-arrow-up"></i>
				</div>
			</div>

			<div class="infobox infobox-blue2">
				<div class="infobox-progress">
					<!-- #section:pages/dashboard.infobox.easypiechart -->
					<div class="easy-pie-chart percentage" data-percent="42"
						data-size="46"
						style="height: 46px; width: 46px; line-height: 45px;">
						<span class="percent">42</span>%
						<canvas height="92" width="92" style="height: 46px; width: 46px;"></canvas>
					</div>

					<!-- /section:pages/dashboard.infobox.easypiechart -->
				</div>

				<div class="infobox-data">
					<span class="infobox-text">traffic used</span>

					<div class="infobox-content">
						<span class="bigger-110">~</span> 58GB remaining
					</div>
				</div>
			</div>

			<!-- /section:pages/dashboard.infobox -->
			<div class="space-6"></div>

			<!-- #section:pages/dashboard.infobox.dark -->
			<div class="infobox infobox-green infobox-small infobox-dark">
				<div class="infobox-progress">
					<!-- #section:pages/dashboard.infobox.easypiechart -->
					<div class="easy-pie-chart percentage" data-percent="61"
						data-size="39"
						style="height: 39px; width: 39px; line-height: 38px;">
						<span class="percent">61</span>%
						<canvas height="78" width="78" style="height: 39px; width: 39px;"></canvas>
					</div>

					<!-- /section:pages/dashboard.infobox.easypiechart -->
				</div>

				<div class="infobox-data">
					<div class="infobox-content">Task</div>
					<div class="infobox-content">Completion</div>
				</div>
			</div>

			<div class="infobox infobox-blue infobox-small infobox-dark">
				<!-- #section:pages/dashboard.infobox.sparkline -->
				<div class="infobox-chart">
					<span class="sparkline" data-values="3,4,2,3,4,4,2,2"><canvas
							width="39" height="19"
							style="display: inline-block; width: 39px; height: 19px; vertical-align: top;"></canvas></span>
				</div>

				<!-- /section:pages/dashboard.infobox.sparkline -->
				<div class="infobox-data">
					<div class="infobox-content">Earnings</div>
					<div class="infobox-content">$32,000</div>
				</div>
			</div>

			<div class="infobox infobox-grey infobox-small infobox-dark">
				<div class="infobox-icon">
					<i class="ace-icon fa fa-download"></i>
				</div>

				<div class="infobox-data">
					<div class="infobox-content">Downloads</div>
					<div class="infobox-content">1,205</div>
				</div>
			</div>

			<!-- /section:pages/dashboard.infobox.dark -->
		</div>

	</div>

</div>

