<div class="main-content" style="opacity: 1.0;"
     ng-controller="PhymachineController">
    <div class=" main-content-inner">
        <script type="text/javascript"
                src="${rc.contextPath}/static/js/squirrel/config.js"></script>
        <style>
            th{
                font-size: 14px;  color: #404040;
            }
        </style>
        <div class="page-content">
            <div class="page-header">
                <h1>集群
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Redis
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table id="redisTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10%;"><i class="ace-icon fa fa-info-circle"></i></th>
                            <th style="width: 20%; text-align: left;">ip</th>
                            <th style="width: 15%;">剩余内存</th>
                            <th style="width: 15%;">内存容量</th>
                            <th style="width: 10%;">内存使用率</th>
                            <th style="width: 10%;">应用标签</th>
                            <th style="width: 10%">状态</th>
                            <th style="width: 10%">操作</th>
                            <th style="display: none"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in data">
                            <td><img src="${rc.contextPath}/static/images/red.png" ng-show="item.clusterAlarm" >
                                <img src="${rc.contextPath}/static/images/green.png" ng-show="!item.clusterAlarm" ></td>
                            <td style="width:10%">{{item.ip}}</td>
                            <td>{{item.memoryFree}}</td>
                            <td>{{item.memory}}</td>
                            <td>{{item.memoryFree}}%/{{item.memory}}G</td>
                            <td></td>
                            <td style="width:10%">
                                <!--<div class="hidden-sm hidden-xs action-buttons">-->
                                    <!--<a class="grey" href="${rc.contextPath}/redis/{{item.clusterName}}/edit" ng-click="transport(item.clusterName)">-->
                                        <!--<i class="ace-icon fa fa-cog bigger-130"></i>-->
                                    <!--</a>-->

                                    <!--<a class="grey" href="#" ng-click="cat(item.redisCluster)">-->
                                        <!--<i class="ace-icon fa fa-bar-chart-o bigger-130"></i>-->
                                    <!--</a>-->

                                    <!--<a class="grey" href="#app"  data-toggle="modal" ng-click="getApplications(item.clusterName)">-->
                                        <!--<i class="ace-icon glyphicon glyphicon-th-large bigger-130"></i>-->
                                    <!--</a>-->
                                    <!--<a class="grey" href="#password" data-toggle="modal">-->
                                        <!--<i class="ace-icon fa fa-key bigger-130"></i>-->
                                    <!--</a>-->
                                    <!--<a class="grey" href="#log" data-toggle="modal" ng-click="getLogs(item.clusterName)">-->
                                        <!--<i class="ace-icon fa fa-file-text-o bigger-130"></i>-->
                                    <!--</a>-->

                                    <!--<a class="grey" href="#">-->
                                        <!--<i class="ace-icon fa fa-trash-o bigger-140"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                            </td>
                            <td style="display: none"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>